
{%  extends 'main.html' %}

{% block content %}

<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">

                    <a href="">Book Category of : {{ object.name }} </a>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Details Of Book
                </div>


    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                  Are you sure to delete detail of book {{ object.name}} ?
                </div>
                <input type="submit" class="btn btn-danger" value="Yes, delete it" />
                   {%if user.is_superuser%}
                <a class="btn btn-success" href="{% url 'lmstudent' object.id%}">No, just I've tried the delete button</a>
            </form>
            {% endif %}
        </div>
    </div>




          </div>
        </div>
      </div>
    </div>
             </div>
    </div>

         </div>


{% endblock %}