{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                {% if category %}

                <li class="breadcrumb-item">
                    <a href="">Book Title : {{ category.name }} </a>
            </ol>

        {% endif %}
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Details Of Book
                </div>
                <div class="card-body">

                     <div class="row" style="text-align: left; width:1000px; height: 400px; margin-top: 30px">
        <div class="col-12" style="width: 600px">
            <form method="post">
                {% csrf_token %}
                {% for field in category %}
                    <div class="form-group" style="margin-left: 50%">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            <div style="margin-left: 50%">
                <input type="submit" {% if request.path == '/new' %}  value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/></div>
            {% if user.is_superuser %}
                <a href="{% url 'lmstudent' category.id%}"><button type="button" class="btn btn-secondary">Back</button></a>
            </form>
        </div>
    </div>
        {% endif %}
        </div>
    </div>


          </div>
        </div>
      </div>
    </div></div>
      </div>
        </div>
</div>
{% endblock %}
