

{%  extends 'main.html' %}

{% load static %}


{% block content %}

{%  include 'status.html' %}

<div class="container-fluid">
<div class="row" style="padding-top: 30px">

<div class="col-sm-1" style="color: red">
</div>


<div class="col-sm-10">
            <div class="card mb-3">
                <div class="card-header" style="text-align: center">
                    <i class="fas fa-table text-primary"></i>
                    Request Books List

                </div>
                <div class="card-body">

            <div class="card mb-3">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" style=" width:100%; cellspacing:0">
                            <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Book Name</th>
                                <th>Requester details</th>
                                <th>Action</th>



                            </tr>
                            </thead>
                            <tbody>


{% if post %}

{% for i in post %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.title }}</td>
								<td>{{i.content}}</td>
                                    <td>
                                        <a href="#"><button type="button" class="btn btn-danger">borrow book</button></a>


                                  <a href="{% url 'ldrequestb' i.id%}"><button type="button" class="btn btn-danger"> Delete</button></a>
                                    </td>

                                </tr>
{% endfor %}
{% endif %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>





        </div>
    </div>
                </div>


    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>



{% endblock %}
