{#{{ error }}#}
{##}
{##}
{#{% if post %}#}
{##}
{#<center><h1>Search Result Found</h1></center>#}
{#<br>#}
{#{% for i in post %}#}
{#    <center><h2><a href="/templates/dashboard/{{ i.name }}" >{{ i.author }}:{{ i.quantity }}</a> </h2></center>#}
{##}
{#{% endfor %}#}
{#{% else %}#}
{#<center><h1>nothing found </h1></center>#}
{#{% endif %}#}

{{ error }}


{% if post %}

<center><h1>Search Result Found</h1></center>
<br>
{% for i in post %}
    <center><h2><a href="/templates/dashboard/{{ i.name }}" >{{ i.author }}:{{ i.quantity }}</a> </h2></center>

{% endfor %}
{% else %}
<center><h1>nothing found </h1></center>
{% endif %}
{#{% if books %}#}
{#    <a href="{% url 'buy_book' pk=books.pk %}">#}
{#    <!--Upon successful search book image with hyperlink appears -->#}
{#    <img src="{{books.image.url}}" alt="No Image"></a>#}
{#    <p>{{books.bookname}}</p>#}
{#    <p>Rs.{{books.price}}</p>#}
{#{% endif %}#}