<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<style>
	#total-orders, #orders-delivered, #orders-pending{
		background-image: linear-gradient(to right bottom, #08a7d7, #0091e3, #0077e8, #3554de, #7b06c0);
		border-radius: 20px;
		font-size: 20px;
		text-align: center;
	}
	body
	{
		background: rgb(195, 209, 255);
	}

</style>
<br>

{% block content %}
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
					<i class="fas fa-plus"></i>
			  	</div>
			  	<div class="card-body">
					<a style="color: white" class="card-title" href="{% url 'add' %}">Add Books</a>
{#                    book_upload#}
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
					<i class="fas fa-info"></i>
			  	</div>
			  	<div class="card-body">
{#			  		<a style="color: #ff0000" class="card-title" href="{% url 'Students' %}">Student Details</a>#}
                    <a style="color: white" class="card-title" href="{% url 'lmbook' %}">Student Details</a>					  
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
					<i class="fas fa-book-reader"></i>
			  	</div>
			  	<div class="card-body">
					<a href="{% url 'home' %}" style="color: white" class="card-title" >Book Request</a>
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
					<i class="fas fa-book"></i>
			  	</div>
			  	<div class="card-body">
					{% csrf_token %}
                    <a href="{% url 'lmstudent' 1%}" style="color: white" class="card-title">View Books Details</a>
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}