# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\subin\Downloads\library\crash-course-CRM-Part-14-User-Registration-Login-Authentication\crm1_v14_registration_login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
